name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Setup build tools
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Install Windows SDK
        run: choco install windows-sdk-10.1

      - name: Install Dependencies
        run: npm ci

      - name: Create .env file from Secrets
        shell: bash
        run: |
          echo "SMTP_USER=${{ secrets.SMTP_USER }}" >> .env
          echo "SMTP_PASS=${{ secrets.SMTP_PASS }}" >> .env
          echo "TARGET_EMAIL=${{ secrets.TARGET_EMAIL }}" >> .env
          echo ".env file created with secrets"

      - name: Build and Publish
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run build
